<div class="container">
  <h1>Personal finance</h1>

  <h2>Your accounts</h2>
  <div class="row" *ngIf="_accounts.leght == O">
    <div class="alert alert-info"><strong>No acounts yet</strong> Please add it...</div>
  </div>

  <div class="row">
    <div class="acc col-md-12" *ngFor="#acc of _accounts, #i = index" [ngClass]="{selected:_selected[i]}">
    <h3>{{acc.title}}</h3>
    <p>{{acc.description}}</p>
    <p>Balance: <strong class="lead">{{acc.balance}}</strong></p>

    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-danger" (click)="removeAcc(i)">Delete</button>
        <button class="btn btn-primary" (click)="select(i)">{{_selected[I] ? 'Deselect' : 'Select'}}</button>}}
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <form class="col-md-6 col-sm-9">
      <h3>Add new account</h3>
      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-control" id="title" type="text" name"title" value="" #title>
      </div>

      <div class="form-group">
        <label for="desc">Description:</label>
        <input class="form-control" id="desc" type="text" name="desc" value="" #desc>
      </div>

      <div>
        <label for="bal">Balance:</label>
        <input id="bal" type="text" name="bal" value="0" #balance>
      </div>
